/* ============================ *\
	GLOBAL
\* ============================ */

body{
	font-family: 'Alegreya Sans', sans-serif;
}

img{
	max-width: 100%;
}

h1{
	font-size: 55px;
}

.fb{
	display: flex;
	display: -webkit-flex;
	height: 100%;
}

iframe{
	width: 100%;
	height: 100%;
}

/* ============================ *\
	TYPOGRAPHY
\* ============================ */

p.white{
	color: #fff;
}

p.dark{
	color: #2D2D2C;
}

p.red{
	color: #CC5260;
}

p.light{
	color: #B2B2B2;
}

p.dark{
	color: #505051;
}

p.thin{
	font-weight: 100;
}

p.regular{
	font-weight: 300 !important;
}

p.medium{
	font-weight: 500;
}



/* ============================ *\
	HEADER
\* ============================ */

header{
	background: #ededed url('../img/header-bg.png') no-repeat;
	background-size: contain;
	background-position: 100% 1px;
}

.header-container{
	display: flex;
	display: -webkit-flex;
}

.logo{
	width: 76px;
	height: 76px;
	margin: 1em;
}

.divider{
	width: 79px;
	height: 47px;
	border-bottom: 1px solid #ca5362;
	-webkit-transform: translateY(11px) translateX(0px) rotate(-82deg);
	position: relative;
	top: 15px;
	left: 12px;
}

.page-title{
	color: #575756;
	font-size: 55px;
	font-weight: 100;
	font-style: italic;
	text-transform: uppercase;
	margin: .5em 0;
	position: relative;
	left: .5em;
	transform: scale(1.2,1);
	-webkit-transform: scale(1.2,1);
}

.info{
	font-size: 18px;
	color: #575756;
	font-weight: 100;
	font-style: italic;
	text-transform: uppercase;
}

.info ul{
	list-style: none;
	padding-left: 1em;
}

.section-title{
	position: absolute;
	top: -2em;
	left: 150px;
	text-transform: uppercase;
	font-style: italic !important;
	font-weight: bold !important;
	transform: scale(1.2,1);
	-webkit-transform: scale(1.2,1);
}

/* ============================ *\
	FOOTER
\* ============================ */

footer{
	background: #2d2d2c;
	position: absolute;
	width: 100%;
	bottom: 0;
	display: flex;
	display: -webkit-flex;
	padding: 0 1em;
	z-index: 4;
}

.footer-title{
	color: #fff;
	font-size: 25px;
	font-weight: 100;
	font-style: italic;
	text-transform: uppercase;
	transform: scale(1.2,1);
	-webkit-transform: scale(1.2,1);
	width: 140px;
	position: relative;
	left: 1em;
	margin: 20px 0;
}

.footer-divider{
	width: 45px;
	height: 3px;
	background: #ca5362;
	border-radius: 10px;
	-webkit-transform: translateY(11px) translateX(0px) rotate(90deg);
	position: relative;
	top: 20px;
	left: 0px;
}

.partner-logos {
	padding: .8em 0 0;
}

.partner-logos img{
	margin-right: 1em;
	display: inline-block;
vertical-align: middle;
}

.brand-logo{
	margin-left: auto;
	width: 200px;
	text-align: center;
	background: #5d5d5d;
}


/* ============================ *\
	SLIDER NAVIGATION
\* ============================ */

.reveal .controls div.navigate-left {
	background: rgba(255, 255, 255, 0.5) url(../img/arrow-left.png) no-repeat;
	background-position: 50% 50%;
	width: 29px;
	height: 29px;
	display: block;
	margin: 0;
	padding: 0;
	opacity: 0;
	border-radius: 5px;
}


.reveal .controls div.navigate-right{
	background: rgba(255, 255, 255, 0.5) url(../img/arrow-right.png) no-repeat;
	background-position: 50% 50%;
	width: 29px;
	height: 29px;
	display: block;
	margin: 0;
	padding: 0;
	opacity: 0;
	border-radius: 5px;
}

.reveal .controls div.navigate-up{
	background: rgba(255, 255, 255, 0.5) url(../img/arrow-up.png) no-repeat;
	background-position: 50% 9px;
	width: 29px;
	height: 29px;
	display: block;
	margin: 0;
	padding: 0;
	opacity: 0;
	border-radius: 5px;
}

.reveal .controls div.navigate-down{
	background: rgba(255, 255, 255, 0.5) url(../img/arrow-down.png) no-repeat;
	background-position: 50% 9px;
	width: 29px;
	height: 29px;
	display: block;
	margin: 0;
	padding: 0;
	opacity: 0;
	border-radius: 5px;
}


.reveal .controls div.navigate-left.enabled, .reveal .controls div.navigate-right.enabled, .reveal .controls div.navigate-up.enabled, .reveal .controls div.navigate-down.enabled{
	opacity: 1;
}


/* ============================ *\
	SLIDE 1
\* ============================ */


.slide1 .slide-content{
	background: #fff url(../img/slide1-bg.png) no-repeat;
	background-position: 83% 9%;
	background-size: 80%;
}

.slide1 .top-info{
	color: #fff;
	text-transform: uppercase;
	font-weight: 100;
	background: #CC5260 url(../img/arrows.png) no-repeat;
	background-position: 20px;
	width: 45%;
	padding: 1.5em 0em 1.5em 7em;
}

.slide-content{
	display: flex;
	display: -webkit-flex;
}

.one-half{
	width: 50%;
}

.slide1 .one-half > img {
	width: 100%;
	height: auto;
	max-height: 100%;
	max-width: 100%;
	clip-path: polygon(0% 0%, 0% 100%, 92% 100%, 100% 0%);
	-0-clip-path: polygon(0% 0%, 0% 100%, 92% 100%, 100% 0%);
	-ms-clip-path: polygon(0% 0%, 0% 100%, 92% 100%, 100% 0%);
	-webkit-clip-path: polygon(0% 0%, 0% 100%, 92% 100%, 100% 0%);
}

.one-half__of-section {
	text-align: center;
}

.one-half__of-section:last-child img{
	border-bottom: 0;
}

.one-half__of-section img {
	width: 25%;
	padding: 2em;
	border-bottom: 1px solid #CC5260;
}	


/* ============================ *\
	SLIDE 2
\* ============================ */

.slide2 .tf-section {
padding: 3em 0em 0 3em;
width: 95%;
background: #fff;
clip-path: polygon(0% 0%, 0% 100%, 73% 100%, 79% 64%,72% 0%);
-0-clip-path: polygon(0% 0%, 0% 100%, 73% 100%, 79% 64%,72% 0%);
-ms-clip-path: polygon(0% 0%, 0% 100%, 73% 100%, 79% 64%,72% 0%);
-webkit-clip-path: polygon(0% 0%, 0% 100%, 73% 100%, 79% 64%,72% 0%);
}

.slide2 .tf-section p{
	width: 62%;
	text-transform: uppercase;
	font-style: italic;
	font-size: 18px;
	line-height: 1.4;
	margin-bottom: 1.8em;
}

.slide2 .of-section {
	width: 30%;
	margin-left: -29%;
	position: relative;
	z-index: -1;
}

.highlighted{
	color: #fff;
	background: #CC5260;
	clip-path: polygon(0% 0%, 1% 50%, 0% 100%, 72% 100%, 75% 50%,72% 0%);
	-o-clip-path: polygon(0% 0%, 1% 50%, 0% 100%, 72% 100%, 75% 50%,72% 0%);
	-ms-clip-path: polygon(0% 0%, 1% 50%, 0% 100%, 72% 100%, 75% 50%,72% 0%);
	-webkit-clip-path: polygon(0% 0%, 1% 50%, 0% 100%, 72% 100%, 75% 50%,72% 0%);
	padding: 1em 13em 1em 1em !important;
}

.highlighted.dark{
	background: #505051;
	color: #fff;
	margin-left: 3em;
	padding-left: 1.5em !important;
}

.of-section ul{
	width: 100%;
	text-align: right;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 100;
}

.of-section ul li{
	padding: 1em;
}

.of-section ul li.item-one{
	background: #2D2D2C;
}

.of-section ul li.item-two{
	background: #393939;
}

.of-section ul li.item-three{
	background: #505051;
}

/*  SLIDE 2.1
------------------------- */

.dark-bg{
	background: #2D2D2C url(../img/dark-bg.png) no-repeat;
	background-size: contain;
	background-position: 0% 170px;
	text-align: center;
	padding-top: 3em !important;
}

.dark-bg h1{
	color: #C6C6C6;
	font-size: 20px;
	font-weight: 100;
	font-style: italic;
	text-transform: uppercase;
	transform: scale(1.2,1);
	-webkit-transform: scale(1.2,1);
	margin: 1em 0;
}

.dark-bg .container{
	width: 70%;
	height: 60%;
	margin: auto;
	background: #C6C6C6;
}

/* ============================ *\
	SLIDE 3
\* ============================ */

.slide3 .one-half.red-bg{
	background: #CC5260;
	clip-path: polygon(0% 0%, 0% 100%, 85% 100%, 99% 0%);
	-webkit-clip-path: polygon(0% 0%, 0% 100%, 85% 100%, 99% 0%);
	width: 52%;
	color: #2D2D2C;
	padding: 4em
}




.one-half.img {
margin-left: -7%;
}

.one-half.img img{
	width: 100%;
	height: 100%;
}


.slide3 .one-half.dark-bg{
	background: #2D2D2C;
	clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 85% 0%);
	-webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 85% 0%);
	width: 52%;
	color: #2D2D2C;
	padding: 4em;
	text-align: left;
}

.slide3 .one-half.img {
	margin-left: -10%;
	width: 59%;
}


/* ============================ *\
	SLIDE 4
\* ============================ */

.slide4 .top-section-white, .slide4 .top-section-dark{
	display: flex;
	display: -webkit-flex;
}

.slide4 .top-section-white{
	margin: 2em;
	padding: 2em;
}

.slide4 .top-section-dark{
	background: #505051;
	padding: 4em 4em 2em 4em;
	margin-bottom: 1em;
}

.slide4 .top-section-white{
	border-bottom: 1px solid #CC5260;
}

.slide4 .bottom-section{
	margin-left: 8em;
}

.bottom-section p{
	margin-bottom: 1.8em;
}

.slide4 .highlighted{
	margin-left: 3em !important;
	padding-left: 1.5em !important;
}

.reveal .top-section-white blockquote{
	color: #2D2D2C;
}


.reveal .top-section-dark blockquote{
	color: #fff;
}

.slide5 .of.red{
	width: 20%;
	clip-path: polygon(0% 0%, 0% 100%, 70% 100%, 90% 0%);
	-webkit-clip-path: polygon(0% 0%, 0% 100%, 70% 100%, 90% 0%);
	background: #CC5260;
	margin-right: -20%;
}

.slide5 .of.dark{
	width: 20%;
	clip-path: polygon(0% 0%, 25% 100%, 100% 100%, 100% 0%);
	-webkit-clip-path: polygon(0% 0%, 25% 100%, 100% 100%, 100% 0%);
	background: #575756;
	margin-left: -20%;
}

.slide5 .of.red .of-content{
	margin: 5em;
	padding-right: 4em;
}
.slide5 .of.dark .of-content{
	margin: 5em;
	padding-left: 4em;
}
.slide5 .of-content p{
	margin-left: 0;
	line-height: 1.6; 
}
.slide5 .tf{
	width: 100%;
}

.slide5 .tf img{
	width: 100%;
}


.slide5 p.top{
	padding-bottom: 1em;
	border-bottom: 1px solid #fff;
	margin-bottom: 1em;
}